<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="/main.css">
    <title>Portfolio</title>
</head>
<body>
<div class="frame">
    <div class="main_frame">
        <div class="left_frame">
            <div class="left_1">
                <div class="rasm">
                    <img src="imagess/profile.png" width="156px;" height="142px" alt="bu yerda rasm bor">
                </div>
                <div class="ism">
                    <%= user.name%> 
                </div>
                <div class="kasb">
                    <%= user.profession%>
                </div>
                <div class="left_icons">
                    <a class="smile" href="">
                        <div class="icon">
                            <img src="icon/Vector (1).svg" class="icon_1" />
                        </div>
                        </a>
                    <a class="smile" href="">
                        <div class="icon">
                            <img src="icon/Vector (2).svg" class="icon_1" />
                        </div>
                        </a>
                        <a class="smile" href="">
                            <div class="icon">
                             <img src="icon/Vector (3).svg" class="icon_1" />
                        </div>
                        </a>
                        <a class="smile" href="">
                            <div class="icon">
                             <img src="icon/Vector (4).svg" class="icon_1" />
                        </div>
                        </a>
                        <a class="smile" href="">
                            <div class="icon">
                             <img src="icon/Vector (5).svg" class="icon_1" />
                        </div>     
                       </a>
                        <a class="smile" href="">
                            <div class="icon">
                             <img src="icon/Vector (6).svg" class="icon_1" />
                        </div>
                        </a>
                </div>
            </div>
            <div class="marginer"></div>
            <div class="left_2">
                <div class="info_containor">
                <div class="left_about"> <div class="left_about_a">Age</div></div>
                <div class="left_about_b"> <%= user.age%> </div>
            </div>
                <div class="info_containor"> 
                <div class="left_about"> <div class="left_about_a">Residence</div></div>
                <div class="left_about_b"> <%= user.residence%> </div>
            </div>
                <div class="info_containor"> 
                <div class="left_about"> <div class="left_about_a">Freelance</div></div>
                <div class="left_about_b">Available</div>
            </div>
                <div class="info_containor"> 
                <div class="left_about"> <div class="left_about_a">Address</div></div>
                <div class="left_about_b"> <%= user.address%> </div>
            </div>
        </div>
            <div class="marginer"></div>
            <div class="left_3">
                <div class="lang_container">Languages</div>
                <div class="lang_info"> <%= user.language[0]%>100% </div>
                <div class="lang_info_1"><img src="imagess/line/Rectangle 7.png" ></div>
                <div class="lang_info"> <%= user.language[1]%> 80%</div>
                <div class="lang_info_1"><img src="imagess/line/Rectangle 9.png" ></div>
                <div class="lang_info"> <%= user.language[2]%> 65% </div>
                <div class="lang_info_1"><img src="imagess/line/Rectangle 11.png" ></div>
            </div>
            <div class="marginer"></div>
            <div class="left_4">
                <div class="skills_container">Skills</div>
                <div class="skills_info"> <%= user.skills[0]%> </div>
                <div class="skills_info_1"><img src="imagess/line/Rectangle 15.png" ></div>
                 
                <div class="skills_info"> <%= user.skills[1]%> </div>
                <div class="skills_info_1"><img src="imagess/line/Rectangle 16.png" ></div>
                 
                <div class="skills_info"> <%= user.skills[2]%> </div>
                <div class="skills_info_1"><img src="imagess/line/Rectangle 17.png" ></div>
                 
                <div class="skills_info"> <%= user.skills[3]%> </div>
                <div class="skills_info_1"><img src="imagess/line/Rectangle 19.png" ></div>
                 
                <div class="skills_info"> <%= user.skills[4]%> </div>
                <div class="skills_info_1"><img src="imagess/line/Rectangle 21.png" ></div>
                 
            </div>
            <div class="marginer"></div>
            <div class="left_5">
                 <div class="extra_info">Exstra skills</div>
                 <div class="extra_info_1">
                    <img src="imagess/Icons (1).svg" > <%=user.extra_skills[1]%>, <%=user.extra_skills[2]%>
                 </div>
                 <div class="extra_info_1">
                    <img src="imagess/Icons (2).svg" > <<%=user.extra_skills[3]%>, <%=user.extra_skills[4]%>
                 <div class="extra_info_1">
                    <img src="imagess/Icons (3).svg" > <%=user.extra_skills[5]%>, <%=user.extra_skills[6]%>
                 </div>
                 <div class="extra_info_1">
                    <img src="imagess/Icons (4).svg" > <%=user.extra_skills[7]%>
                 </div>
            </div>
            <div class="marginer"></div>
             
        </div>
        <div class="midd_frame">
            <div class="top">
                <div class="midd_rasm">
                    <img src="imagess/Your Image 1.png" >
                </div>
                <div class="midd_button">
                    <img src="imagess/Button_Hire me.png" >
                </div>
                <div class="top_info"><%=user.work_place%></div>
                <div class="top_info1"><%=user.service_desc%></div>
            </div>
            <div class="bottom">
                <div class="bottom_info"> <%=user.work_place%></div>
                <div class="bottom_info_1"> <%=user.about_me%></div>
                <div class="flex_container">
                    <div class="box_png">
                        <img src="icon/midd/Icons_coding.png"  class="icons_midd">
                        <img src="icon/yozuv/web development.png" class="icon_y">
                        <img src="icon/end/1.png" class="icon_e">
                    </div>
                    <div class="box_png">
                        <img src="icon/midd/Vector (1).png"  class="icons_midd">
                        <img src="icon/yozuv/2.png" class="icon_y">
                        <img src="icon/end/2.png" class="icon_e">
                    </div>
                    <div class="box_png">
                        <img src="icon/midd/Icons_Microphone.png"  class="icons_midd">
                        <img src="icon/yozuv/sound design.png" class="icon_y">
                        <img src="icon/end/3.png" class="icon_e">
                    </div>
                    <div class="box_png">
                        <img src="icon/midd/Icons_game-development.png"  class="icons_midd">
                        <img src="icon/yozuv/game design.png" class="icon_y">
                        <img src="icon/end/4.png" class="icon_e">
                    </div>
                    <div class="box_png">
                        <img src="icon/midd/Vector (2).png"  class="icons_midd">
                        <img src="icon/yozuv/photography.png" class="icon_y">
                        <img src="icon/end/5.png" class="icon_e">
                    </div>
                    <div class="box_png">
                        <img src="icon/midd/advertising.png" class="icons_midd">
                        <img src="icon/yozuv/6.png" class="icon_y">
                        <img src="icon/end/6.png" class="icon_e">
                    </div>

                </div>
            </div>
        </div>
        <div class="right_frame">
            <div class="moon">
                <img src="imagess/line/Icons_Contrast.svg" >
            </div>
            <div class="home">
                <img src="imagess/line/Menu.png" >
            </div>
        </div>
    </div>
</div>
 
    
</body>

</html>